@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@font-face {
  font-family: "Molle";
  src: local("Molle"), url(./assets/fonts/Molle-Italic.ttf) format("truetype");
}

@theme {
  --font-molle: "Molle", sans-serif;
}
